{%- if context %}
  {% set companies = context.companies %}
  {% set units = context.units %}
  {% set areas = context.areas %}
  {% set modalities = context.modalities %}
  {% set search_placeholder = context.search_placeholder %}
{% endif %}

<div class="companies-listing">
  <div class="companies-listing__filters">
    {% set context = {
      label: 'Unidades',
      name: 'unit',
      id: 'unit',
      placeholder: 'Selecione',
      options: units | selectOptionsBySlug,
      override_atts: {
        'data-filter-id': 'unit'
      }
    } %}
    {% include "@marke/ui-core/components/select/select.njk" %}
    {% set context = {
      label: 'Áreas de Atuação',
      name: 'area',
      id: 'area',
      placeholder: 'Selecione',
      options: areas | selectOptionsBySlug,
      override_atts: {
        'data-filter-id': 'area'
      }
    } %}
    {% include "@marke/ui-core/components/select/select.njk" %}
    {% set context = {
      label: 'Modalidades',
      name: 'modality',
      id: 'modality',
      placeholder: 'Selecione',
      options: modalities | selectOptionsBySlug,
      override_atts: {
        'data-filter-id': 'modality'
      }
    } %}
    {% include "@marke/ui-core/components/select/select.njk" %}
    {% set context = {
      label: 'Nome da empresa',
      placeholder: search_placeholder,
      name: 'title',
      id: 'title'
    } %}
    {% include "@marke/ui-core/components/text-field/text-field.njk" %}
  </div>
  <div class="companies-listing__companies">
    {% for company in companies %}
      <div 
        data-unit="{{ (company.unit | entryById(units)).title | slug }}"
        data-area="{{ (company.area | entryById(areas)).title | slug }}"
        data-modality="{{ (company.modality | entryById(modalities)).title | slug }}"
        data-title="{{ company.title | e | safe }}"
      >
        {% set cardHeader %}
          <div class="text-center p-3">
            <img 
              src="
              {%-
                imageUrl company.image, { 
                  effect: 'art:audrey',
                  fetch_format: 'auto',
                  quality: 'auto',
                  width: 150,
                  height: 100,
                  crop: 'pad'
              } %}"
              srcset="
              {%-
                imageUrl company.image, { 
                  effect: 'art:audrey',
                  fetch_format: 'auto',
                  quality: 'auto',
                  width: 150,
                  height: 100,
                  crop: 'pad',
                  dpr: 2
                } 
              %} 2x"
              loading="lazy"
              width="150"
              height="100"
              alt="Logo da {{ company.title | e | safe }}"
              title="Logo da {{ company.title | e | safe }}"
            >
          </div>
        {% endset %}
        {% set cardBody %}
          <div class="d-flex flex-column text-center h-100">
            <h4 class="fw-bold">{{ company.title | e | safe }}</h4>
            <div class="card-excerpt">{{ company.description | e | safe }}</div>
            {%- set context = {
              theme: 'primary',
              href: 'https://' + (company.site | url),
              text: 'Conheça',
              override_classes: ['align-self-center']
            } %}
            {% include "@marke/ui-core/components/button/button.njk" %}
          </div>
        {% endset %}
        {% set context = {
            body: cardBody,
            header: cardHeader,
            componentClasses: ['h-100']
        } %}
        {% include "@marke/ui-core/components/card/card.njk" %}
      </div>
    {% endfor %}
  </div>
</div>