{%- if context %}
  {% set companies = context.companies %}
  {% set units = context.units %}
{% endif %}


<div class="companies-listing">
  <div class="companies-listing__filters">
    <label for="companies-dynamic-select">Unidades</label>
    <select class="select companies-dynamic-select" aria-label="Seleção" id="companies-dynamic-select">
      <option value="all">Todas</option>
      {% for unit in units %}
        <option value="{{ unit.title | slug }}">{{ unit.title | e | safe }}</option>
      {% endfor %}  
    </select>
  </div>
  <div class="companies-listing__companies">
    {% for unit in units %}
      {% for company in companies | companiesByUnit(unit.id) %}
        <div data-unit-slug="{{ unit.title | slug }}"><h3>{{ company.title | e | safe }}</h3></div>
      {% endfor %}
    {% endfor %}  
  </div>
</div>