<div class="partners-listing">
  <input type="text" class="partners-listing__search text-field">
  <div class="partners-listing__results">
    {% for partner in collections.partners %}
      <div data-parnter-name="{{ partner.title | e | safe }}">{{ partner.title }}</div>
    {% endfor %}
  </div>
</div>