{%- if context %}
  {% set search_placeholder = context.search_placeholder %}
  {% set partners = context.partners %}
{% endif %}

<div class="partners-listing">
  <div class="partners-listing__search">
    <i class="fas fa-search partners-listing__search-icon"></i>
    {% set context = {
      placeholder: search_placeholder
    } %}
    {% include "@marke/ui-core/components/text-field/text-field.njk" %}
  </div>
  <div class="partners-listing__partners">
    {% for partner in partners %}
      <div data-partner-title="{{ partner.title | e | safe }}">
        {% set cardBody %}
          <div class="d-flex flex-column">
            <picture>
              <source
                media="(max-width:992px)"
                width="355"
                height="200"
                srcset="{%- imageUrl partner.image, { fetch_format: 'auto', quality: 'auto', width: 355, aspect_ratio: '16:9', crop: 'pad' } %}"
              >
              <img
                width="326"
                height="245"
                src="{%- imageUrl partner.image, { fetch_format: 'auto', quality: 'auto', width: 326, aspect_ratio: '4:3', crop: 'pad' } %}" 
                srcset="{%- imageUrl partner.image, { fetch_format: 'auto', quality: 'auto', width: 326, aspect_ratio: '4:3', crop: 'pad', dpr: 2 } %} 2x" 
                alt="{{ partner.title | e | safe }}"
                loading="lazy"
                class="img-fluid mb-3"
              >
            </picture>
            <h2 class="h3">{{ partner.title | e | safe }}</h2>
            <div class="card-excerpt">
              {{ partner.description | safe }}
            </div>
            <ul class="list-unstyled">
              {% if partner.email %}
                <li>
                  <a href="mailto:{{ partner.email | safe }}">
                    <i class="fas fa-envelope-square me-2 text-primary"></i>{{ partner.email | e | safe }}
                  </a>
                </li>
              {% endif %}
              {% if partner.phone %}
                <li>
                  <a href="{{ partner.phone | phoneLink }}">
                    <i class="fas fa-phone-square-alt me-2 text-primary"></i>{{ partner.phone | e | safe }}
                  </a>
                </li>
              {% endif %}
              {% if partner.site %}
                <li>
                  <a target="_blank" href="https://{{ partner.site | url }}">
                    <i class="fas fa-external-link-square-alt me-2 text-primary"></i>{{ partner.site | e | safe }}
                  </a>
                </li>
              {% endif %}
            </ul>
          </div>
        {% endset %}
        {% set context = {
            body: cardBody,
            interactive: true,
            componentClasses: ['h-100']
        } %}
        {% include "./card.njk" %}
      </div>
    {% endfor %}  
  </div>
</div>