<div class="modal fade search-modal" id="search-modal" tabindex="-1" aria-labelledby="search-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="search-modal__input">
          {% set context = {
            placeholder: 'Procure por algo'
          } %}
          {% include "@marke/ui-core/components/text-field/text-field.njk" %}
        </div>
        <div class="search-modal__results">
          <div class="search-modal__result">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </div>
          <div class="search-modal__result">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </div>
          <div class="search-modal__result">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </div>
          <div class="search-modal__result">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>