@forward '~@marke/ui-core/design-tokens' with (
  $enable-shadows: true !default,
  $primary: #FFD605 !default,
  $secondary: #5e5e5e !default,
  $light: #eeeeef !default,
  $dark: #5e5e5e !default,
  $body-color: #706F6F !default,
  $headings-color: #5e5e5e !default,
  $font-family-sans-serif: ('Lato', sans-serif) !default,
  $headings-font-weight: 400 !default,
  $headings-margin-bottom: 1rem !default,
  $h1-font-size: 4.25rem !default,
  $h2-font-size: 3rem !default,
  $h3-font-size: 1.5rem !default,
  $h4-font-size: 1.25rem !default,
  $h5-font-size: 1.15rem !default,
  $link-decoration: none !default,
  $link-color: #706F6F !default,
  $input-border-radius: 1rem !default,
  $input-border-radius-sm: 1rem !default,
  $input-border-radius-lg: 1rem !default,
  $border-radius: 1rem !default,
  $border-radius-sm: 1rem !default,
  $border-radius-lg: 1rem !default,
  $card-border-radius: 1rem !default,
  $card-spacer-x: 1.25rem !default,
  $nav-pills-link-active-color: #eeeeef !default,
  $nav-pills-link-active-bg: #5e5e5e !default,
  $dropdown-padding-y: 0.75rem !default,
  $offcanvas-box-shadow: none !default,
  $spacer: 1rem !default,
  $spacers: (
    0: 0,
    1: 1rem * .25,
    2: 1rem * .5,
    3: 1rem,
    4: 1rem * 1.5,
    5: 1rem * 3,
    6: 1rem * 6,
  ) !default,
  $container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1100px,
    xxl: 1200px
  ) !default,
  $rfs-base-value: .8rem !default,
  $rfs-unit: rem !default,
  $rfs-breakpoint: 1200px !default,
  $rfs-breakpoint-unit: px !default,
  $rfs-two-dimensional: false !default,
  $rfs-factor: 40 !default,
  $rfs-mode: min-media-query !default,
  $rfs-class: false !default,
  $rfs-rem-value: 16 !default,
  $rfs-safari-iframe-resize-bug-fix: false !default,
  $utilities: (
    "column-count": (
      responsive: true,
      property: column-count,
      class: column-count,
      values: (
        1: 1,
        2: 2,
        3: 3,
        4: 4,
      )
    ),
    "width": (
      property: width,
      class: w,
      responsive: true,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
      )
    )
  ) !default
);