<section id="{{ layout }}-masthead">
  {% set content %}
    <div class="container py-lg-4 h-100">
      <div class="row h-100">
        <div class="col-12 col-lg-6 align-self-lg-center">
          <h1 class="text-white">{{ masthead.title | markdown | safe }}</h1>
          {%- if masthead.description %}
            <p class="text-white fs-5">{{ masthead.description | e | safe }}</p>
          {%- endif %}
        </div>
        {% if layout != 'howToJoin' %}
        <div class="col-12 col-lg-4 offset-lg-2 align-self-lg-end text-lg-end">
          {%- set context = {
            theme: 'primary',
            size: 'lg',
            href: masthead.btn.url,
            html: masthead.btn.text+'<i class="fas fa-chevron-right ms-2"></i>'
          } %}
          {% include "@marke/ui-core/components/button/button.njk" %}
        </div>
        {% endif %}
      </div>
    </div>
  {% endset %}
  {%- set context = {
    image: masthead.image,
    bgColor: masthead.bgColor,
    imgAr: '30:9',
    children: content
  } %}
  {% include "@marke/ui-core/components/masthead/masthead.njk" %}
</section>