<aside class="d-lg-block d-none bg-dark">
  <div class="container">
    {% set navigationDropdown %}
      <div class="dropdown">
        {%- set context = {
          theme: 'light',
          size: 'sm',
          text: 'Para Empresas do Parque',
          type: 'button',
          id: 'navigationDropdown',
          override_classes: ['dropdown-toggle'],
          override_atts: {
            'data-bs-toggle': 'dropdown',
            'data-bs-auto-close': 'outside',
            'aria-expanded': 'false'
          }
        } %}
        {% include "@marke/ui-core/components/button/button.njk" %}
        <div class="dropdown-menu dropdown-menu-end navigation-dropdown" aria-labelledby="navigationDropdown">
          <p class="mb-3">{{ forCompaniesMenu.title | e | safe }}</p>
          {% for item in forCompaniesMenu.items %}
            <div>
              <hr>
              <p class="h4">{{ item.title | e | safe }}</p>
              <p>{{ item.description | e | safe }}</p>
              {%- set context = {
                theme: 'primary',
                text: item.btn.text,
                href: item.btn.url,
                target: '_blank'
              } %}
              {% include "@marke/ui-core/components/button/button.njk" %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endset %}

    {% set searchInput %}
      <div class="search-input">OLA<i class="fas fa-search search-input__search-icon"></i></div>
    {% endset %}

    {% set extraOffcanvasContent %}
      <div class="d-flex flex-column gap-4">
        {{ searchInput | safe }}
        {{ navigationDropdown | safe }}
      </div>
    {% endset %}

    {% set context = {
      variant: 'dark',
      componentClasses: ['d-flex', 'justify-content-between'],
      startItems: [
        {
          text: header.actionbar.title
        }
      ],
      endItems: [
        {
          html: searchInput
        },
        {
          html: navigationDropdown
        },
        {
          href: site.social.facebook,
          icon: 'facebook',
          external: true
        },
        {
          href: site.social.instagram,
          icon: 'instagram',
          external: true
        },
        {
          href: site.social.linkedin,
          icon: 'linkedin',
          external: true
        }
      ]
    } %}
    {% include '@marke/ui-core/components/actionbar/actionbar.njk' %}
  </div>
</aside>
<header class="page-header">
  <div class="container position-relative">
    {%- set context = {
      navbarLinks: (collections.navbar | eleventyNavigation('home')),
      currentPage: page,
      brandLogo: site.logos.techpark.dark,
      brandLogoMobile: site.logos.techpark.dark,
      brandLogoWidth: 160,
      brandLogoMobileWidth: 100,
      brandUrl: global.site_absolute_url | url,
      variant: 'light',
      extraOffcanvasContent: extraOffcanvasContent
    } %}
    {% include '@marke/ui-core/components/navbar/navbar.njk' %}
  </div>
</header>