<aside class="d-lg-block d-none bg-dark">
  <div class="container">
    {% set search %}
      <input type="email" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="name@example.com">
    {% endset %}
    {% set context = {
      variant: 'dark',
      componentClasses: ['d-flex', 'justify-content-between'],
      startItems: [
        {
          text: header.actionbar.title
        }
      ],
      endItems: [
        {
          html: search
        },
        {
          href: site.social.facebook,
          icon: 'facebook',
          external: true
        },
        {
          href: site.social.instagram,
          icon: 'instagram',
          external: true
        },
        {
          href: site.social.linkedin,
          icon: 'linkedin',
          external: true
        }
      ]
    } %}
    {% include '@marke/ui-core/components/actionbar/actionbar.njk' %}
  </div>
</aside>
<header class="page-header">
  <div class="container position-relative">
    {%- set extraContent %}
      {{ dropdown | safe }}
      {{ search | safe }}
    {%- endset %}
    {%- set context = {
      navbarLinks: (collections.navbar | eleventyNavigation('home')),
      currentPage: page,
      brandLogo: site.logos.techpark.dark,
      brandLogoMobile: site.logos.techpark.dark,
      brandLogoWidth: 160,
      brandLogoMobileWidth: 100,
      brandUrl: global.site_absolute_url | url,
      variant: 'light',
      extraOffcanvasContent: extraContent
    } %}
    {% include '@marke/ui-core/components/navbar/navbar.njk' %}
  </div>
</header>