<aside class="d-lg-block d-none bg-dark">
  <div class="container">
    {% set dropdownContent %}
      {% for item in forCompaniesMenu.items %}
        <div>
          <p class="h4">{{ item.title | e | safe }}</p>
          <p>{{ item.description | e | safe }}</p>
          {%- set context = {
            theme: 'primary',
            text: item.btn.text,
            href: item.btn.url,
            target: '_blank'
          } %}
          {% include "@marke/ui-core/components/button/button.njk" %}
          <hr>
        </div>
      {% endfor %}
      <p>{{ forCompaniesMenu.title | e | safe }}</p>
    {% endset %}
    {% set forCompaniesDropdown %}
      <div class="dropdown">
        {%- set context = {
          theme: 'light',
          size: 'sm',
          text: 'Para Empresas do Parque',
          type: 'button',
          id: 'forCompaniesDropdown',
          override_classes: ['dropdown-toggle'],
          override_atts: {
            'data-bs-toggle': 'dropdown',
            'data-bs-auto-close': 'outside',
            'aria-expanded': 'false'
          }
        } %}
        {% include "@marke/ui-core/components/button/button.njk" %}
        <div class="dropdown-menu dropdown-menu-end p-4" style="min-width: 400px;" aria-labelledby="forCompaniesDropdown">
          {{ dropdownContent | safe }}
        </div>
      </div>
    {% endset %}
    {% set forCompaniesDropdownMobile %}
      <div class="dropdown">
        {%- set context = {
          theme: 'primary',
          text: 'Para Empresas do Parque',
          type: 'button',
          id: 'forCompaniesDropdown',
          override_classes: ['dropdown-toggle'],
          override_atts: {
            'data-bs-toggle': 'dropdown',
            'aria-expanded': 'false'
          }
        } %}
        {% include "@marke/ui-core/components/button/button.njk" %}
        <div class="dropdown-menu dropdown-menu-end p-3" aria-labelledby="forCompaniesDropdown">
          {{ dropdownContent | safe }}
        </div>
      </div>
    {% endset %}
    {% set context = {
      variant: 'dark',
      componentClasses: ['d-flex', 'justify-content-between'],
      startItems: [
        {
          text: header.actionbar.title
        }
      ],
      endItems: [
        {
          html: forCompaniesDropdown
        },
        {
          href: site.social.facebook,
          icon: 'facebook',
          external: true
        },
        {
          href: site.social.instagram,
          icon: 'instagram',
          external: true
        },
        {
          href: site.social.linkedin,
          icon: 'linkedin',
          external: true
        }
      ]
    } %}
    {% include '@marke/ui-core/components/actionbar/actionbar.njk' %}
  </div>
</aside>
<header class="page-header">
  <div class="container position-relative">
    {%- set context = {
      navbarLinks: (collections.navbar | eleventyNavigation('home')),
      currentPage: page,
      brandLogo: site.logos.techpark.dark,
      brandLogoMobile: site.logos.techpark.dark,
      brandLogoWidth: 160,
      brandLogoMobileWidth: 100,
      brandUrl: global.site_absolute_url | url,
      variant: 'light',
      extraOffcanvasContent: forCompaniesDropdownMobile
    } %}
    {% include '@marke/ui-core/components/navbar/navbar.njk' %}
  </div>
</header>