<footer role="contentinfo" class="page-footer bg-dark">
  <div class="container">
    <div class="row gy-3 py-4">
      <div class="col-12 col-lg-3">
        <div class="row gy-3 gx-2">
          <div class="col-6 col-lg-12">
            <a href="{{ global.site_absolute_url | url }}">
              <img 
                src="{%- imageUrl site.logos.techpark.light, { fetch_format: 'auto', quality: 'auto', width: 160, crop: 'thumb' } %}"
                srcset=" {%- imageUrl site.logos.techpark.light, { fetch_format: 'auto', quality: 'auto', width: 160, crop: 'thumb', dpr: 2 } %} 2x"
                width="160"
                loading="lazy"
                class="img-fluid"
                alt="{{ site.name | e | safe }}"
              >
            </a>
          </div>
          <div class="col-6 col-lg-12">
            <a href="{{ footer.feevale.siteUrl | url }}" target="_blank">
              <img 
                src="{%- imageUrl site.logos.feevale.light, { fetch_format: 'auto', quality: 'auto', width: 160, crop: 'thumb' } %}"
                srcset=" {%- imageUrl site.logos.feevale.light, { fetch_format: 'auto', quality: 'auto', width: 160, crop: 'thumb', dpr: 2 } %} 2x"
                width="160"
                loading="lazy"
                class="img-fluid"
                alt="{{ footer.feevale.title | e | safe }}"
              >
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="row gy-3">
          <div class="col-6 col-lg-12">
            <h4 class="text-primary mb-1">{{ site.name | e | safe }}</h4>
            <ul class="list-unstyled mb-0">
                <li><a class="link-light" href="mailto:{{ site.contact.email | safe }}">{{ site.contact.email | safe }}</a></li>
            </ul>
            {%- set context = {
              variant: 'light',
              items: {
                instagram: site.social.instagram,
                facebook: site.social.facebook,
                linkedin: site.social.linkedin
              }
            } %}
            {% include '@marke/ui-core/components/socialbar/socialbar.njk' %}
          </div>
          <div class="col-6 col-lg-12">
            <h4 class="text-primary mb-1">Unidades</h4>
            <ul class="list-unstyled">
              {% set unitsLinks = (collections.navbar | eleventyNavigation('units')) %}
              {% for item in unitsLinks %}
                <li><a class="link-light" href="{{ item.url | url }}">{{ item.title | e | safe }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <ul class="list-unstyled row gy-3">
          {% for unit in collections.units %}
            <li class="col-6 col-lg-12">
              <h4 class="text-primary mb-1">{{ unit.title | e | safe }}</h4>
              <a class="link-light d-block" target="_blank" href="{{ unit.address | gmapsLink }}">
                {{ unit.address | e | safe }}
              </a>
              <a class="link-light d-block" href="{{ unit.phone | phoneLink }}">
                <i class="fas fa-phone-square-alt me-2"></i>{{ unit.phone | e | safe }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-12 col-lg-3">
        <div class="row gy-3">
          <div class="col-12 text-center text-lg-start">
            <h4 class="text-primary">{{ footer.extra.title | e | safe }}</h4>
            {% for item in footer.extra.items %}
              {%- set context = {
                theme: 'outline-light',
                href: item.url,
                text: item.label
              } %}
              {% include "@marke/ui-core/components/button/button.njk" %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="row border-primary border-top ">
      <div class="col-12">
        {%- set context = {
          variant: 'dark',
          signUrl: 'https://marke.com.br/',
          signLogo: 'https://res.cloudinary.com/feevale-techpark/image/upload/v1632244219/logo-marke-rodape-01.svg',
          signAltText: 'Marke Consultoria SEO',
          copyrightText: 'Todos os direitos reservados Feevale Techpark'
        } %}
        {% include '@marke/ui-core/components/copyrightbar/copyrightbar.njk' %}
      </div>
    </div>
  </div>
</footer>