<section id="{{ layout }}-tech-news">
  <div class="container py-4 py-lg-5">
    <div class="row gy-lg-5 gx-lg-5">
      <div class="col-12 text-center">
        <h2>{{ techNews.title | markdown | safe }}</h2>
      </div>
      <div class="col-12 gy-3 gy-lg-4">
        <ul class="latest-posts">
          {% for item in (collections.techNews | arraySlice(0, 4)) %}
            <li class="latest-posts__post">
              {% set context = {
                  titleTag: 'h3',
                  title: item.title, 
                  date: item.date,
                  url: item.url,
                  excerpt: item.excerpt
                } %}
              {%- if loop.index == 1 %}
                <a href="{{ item.url | url }}">
                  {%- image item.image, { 
                    class: 'latest-posts__thumb img-fluid', 
                    type: 'fetch', 
                    loading: 'lazy',
                    transformation: [{ 
                      fetch_format: 'auto', 
                      quality: 'auto', 
                      width: 600, 
                      crop: 'thumb', 
                      gravity: 'auto', 
                      aspect_ratio: '21:9'
                    }] 
                  } %}
                </a>
              {%- endif %}
              {% include "@marke/ui-core/components/post-preview/post-preview.njk" %}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-12 text-center">
        {%- set context = {
          theme: 'primary',
          href: techNews.btn.url,
          text: techNews.btn.text
        } %}
        {% include "@marke/ui-core/components/button/button.njk" %}
      </div>
    </div>
  </div>
</section>