//
// Separators styles
//

@use '../marke-ui' as mkui;

.separator {
  display: block;
  position: relative;
  width: 100%;
  padding-top: mkui.$spacer * 2;
  padding-bottom: mkui.$spacer * 2;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 50%;
    height: 2px;
    background: mkui.$primary;
  }
}