//
// Card excerpt text clamp
//

@use '../marke-ui' as mkui;

.card-excerpt {
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: mkui.$paragraph-margin-bottom;
}
