//
// Card excerpt text clamp
//

@use '../marke-ui' as mkui;

.card-excerpt {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: mkui.$paragraph-margin-bottom;
  @include mkui.media-breakpoint-up(lg){
    -webkit-line-clamp: 5;
  }
}
