//
// Companies listing styles
//

@use '../marke-ui' as mkui;

.companies-listing {
  &__filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: mkui.$spacer;
    margin-bottom: mkui.$spacer * 2;

    @include mkui.media-breakpoint-up(lg) {
      grid-template-columns: repeat(4, 1fr);
      margin-bottom: mkui.$spacer * 4;
    }

    & > .form-control {
      width: 100%;
    }
  }

  &__companies {
    display: grid;
    grid-template-columns: 1fr;
    gap: mkui.$spacer;
    @include mkui.media-breakpoint-up(lg) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
