//
// Partners Listing component styles
//

@use '../marke-ui' as mkui;

$spacer: mkui.$spacer * 2.25;

.partners-listing {
  &__search {
    width: 100%;
    margin-bottom: $spacer / 2;
    box-shadow: mkui.$box-shadow;
    @include mkui.media-breakpoint-up(lg) {
      margin-bottom: $spacer;
    }
  }
  &__partners {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacer / 2;
    @include mkui.media-breakpoint-up(lg) {
      grid-template-columns: repeat(3, 1fr);
      gap: $spacer;
    }
    
    .partner-hidden {
      display: none;
    }
  }
}
