// 
// Page header styles
//

@use '../marke-ui' as mkui;

.page-header {
  position: sticky;
  top: 0;
  z-index: mkui.$zindex-sticky;
  background: mkui.$body-bg;
  box-shadow: mkui.$box-shadow-sm;
}