{%- extends 'base.njk' %}
{%- block content %}
  <main class="main-content">
    {% set masthead = {
      image: masthead.image,
      title: masthead.title,
      description: masthead.description,
      bgColor: masthead.bgColor,
      btn: { text: masthead.btn.text, url: masthead.btn.url }
    } %}
    {% include "./partials/masthead.njk" %}
    <section id="{{ layout }}-park">
      <div class="container py-4 py-lg-5">
        <div class="row align-items-center gy-4 gx-lg-5 gx-xl-6">
          <div class="col-12 col-lg-7 order-1 order-lg-0">
            <h2>{{ park.title | markdown | safe }}</h2>
            {{ park.text | markdown | safe }}
            <ol class="list-unstyled column-count-1 column-count-lg-2">
              {% for area in collections.areas %}
                <li><span class="h3 text-primary">{{ loop.index | romanize }}</span> {{ area.title }}</li>
              {% endfor %}
            </ol>
          </div>
          <div class="col-12 col-lg-5">
            <picture>
              <source
                media="(max-width:992px)" 
                srcset="{%- imageUrl park.image.url, { fetch_format: 'auto', quality: 'auto', width: 400, crop: 'thumb', gravity: 'auto', aspect_ratio: '16:9' } %}">
              <img 
                class="img-fluid rounded-3"
                alt="{{ park.image.alt | e | safe }}"
                loading="lazy"
                src="{%- imageUrl park.image.url, { fetch_format: 'auto', width: 540, quality: 'auto' } %}"
                srcset="{%- imageUrl park.image.url, { fetch_format: 'auto', width: 540, quality: 'auto', dpr: 2 } %} 2x"
              >
            </picture>
          </div>
        </div>
      </div>
    </section>
    {% include "./partials/timeline.njk" %}
    <section id="{{ layout }}-benefits" class="bg-light">
      <div class="container py-4 py-lg-5">
        <div class="row gx-lg-5 gx-xl-6">
          <div class="col-12 col-lg-6">
            <h2>{{ benefits.title | markdown | safe }}</h2>
          </div>
          <div class="col-12 col-lg-6">
            {{ benefits.text | markdown | safe }}
            {%- set context = {
              theme: 'primary',
              href: benefits.btn.url,
              text: benefits.btn.text
            } %}
            {% include "@marke/ui-core/components/button/button.njk" %}
          </div>
        </div>
      </div>
    </section>
    <section id="{{ layout }}-partnership">
      <div class="container pt-4 pt-lg-5">
        <div class="row gx-lg-5 gx-xl-6">
          <div class="col-12 col-lg-6">
            <h2>{{ partnership.title | markdown | safe }}</h2>
          </div>
          <div class="col-12 col-lg-6">
            {{ partnership.text | markdown | safe }}
          </div>
        </div>
      </div>
    </section>
    <section id="{{ layout }}-university" class="position-relative">
      <div class="container py-4 py-lg-5">
        <div class="row gy-4 gy-lg-5">
          <div class="col-12">
            <picture>
              <source
                media="(max-width:992px)" 
                srcset="{%- imageUrl university.image.url, { fetch_format: 'auto', quality: 'auto', width: 400, crop: 'thumb', gravity: 'auto', aspect_ratio: '21:9' } %}">
              <img 
                width="1176"
                height="504"
                class="img-fluid rounded-3"
                alt="{{ university.image.alt | e | safe }}"
                loading="lazy"
                src="{%- imageUrl university.image.url, { fetch_format: 'auto', quality: 'auto', width: 1300, crop: 'thumb', gravity: 'auto', aspect_ratio: '21:9' } %}"
                srcset="{%- imageUrl university.image.url, { fetch_format: 'auto', quality: 'auto', width: 1300, crop: 'thumb', gravity: 'auto', aspect_ratio: '21:9', dpr: 2 } %} 2x"
              >
            </picture>
          </div>
          <div class="col-12">
            <h2 class="text-center mb-lg-5">{{ university.title | markdown | safe }}</h2>
            <div class="column-count-1 column-count-lg-2" style="column-gap: var(--mkui-gutter-x);">
            {{ university.text | markdown | safe }}
            </div>
          </div>
        </div>
      </div>
      <img 
        loading="lazy"
        src="{%- imageUrl university.decorator, { fetch_format: 'auto', width: 350, quality: 'auto' } %}" 
        alt="Grafismo decorativo Feevale"
        class="d-none d-lg-block"
        style="position: absolute; bottom: 0; right: 5%; z-index: -1;"
      >
    </section>
    <section id="{{ layout }}-direction" class="bg-light">
      <div class="container py-4 py-lg-5">
        <div class="row gy-4 gy-lg-5">
          <div class="col-12">
            <picture>
              <source
                media="(max-width:992px)" 
                srcset="{%- imageUrl direction.image.url, { fetch_format: 'auto', quality: 'auto', width: 400, crop: 'thumb', gravity: 'auto', aspect_ratio: '21:9' } %}">
              <img 
                width="1176"
                height="504"
                class="img-fluid rounded-3"
                alt="{{ direction.image.alt | e | safe }}"
                loading="lazy"
                src="{%- imageUrl direction.image.url, { fetch_format: 'auto', quality: 'auto', width: 1300, crop: 'thumb', gravity: 'auto', aspect_ratio: '21:9' } %}"
                srcset="{%- imageUrl direction.image.url, { fetch_format: 'auto', quality: 'auto', width: 1300, crop: 'thumb', gravity: 'auto', aspect_ratio: '21:9', dpr: 2 } %} 2x"
              >
            </picture>
          </div>
          <div class="col-12">
            <h2 class="text-center mb-lg-5">{{ direction.title | markdown | safe }}</h2>
            <div class="column-count-1 column-count-lg-2" style="column-gap: var(--mkui-gutter-x);">
            {{ direction.text | markdown | safe }}
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include "./partials/tech-news.njk" %}
  </main>
{%- endblock %}
{{ content | safe }}