{%- extends 'base.njk' %}
{%- block content %}
  <main class="main-content">
    <section id="masthead">
      {% set content %}
        <div class="container py-lg-4 h-100">
          <div class="row h-100">
            <div class="col-12 col-lg-9 align-self-lg-center">
              <h1 class="text-white fw-light">{{ masthead.title | markdown | safe }}</h1>
            </div>
            <div class="col-12 col-lg-3 align-self-lg-end">
              {%- set context = {
                theme: 'primary',
                size: 'lg',
                href: masthead.btn.url,
                html: masthead.btn.text+'<i class="fas fa-chevron-right ms-3"></i>'
              } %}
              {% include "@marke/ui-core/components/button/button.njk" %}
            </div>
          </div>
        </div>
      {% endset %}
      {%- set context = {
        image: masthead.image,
        imgAr: '30:9',
        bgColor: masthead.bgColor,
        children: content
      } %}
      {% include "@marke/ui-core/components/masthead/masthead.njk" %}
    </section>
    <section>
      <div class="container py-4 py-lg-5">
        <div class="row gy-4 gx-lg-5 gx-xl-6">
          <div class="col-12 col-lg-6 order-1 order-lg-0">
            <h2>{{ welcome.title | markdown | safe }}</h2>
            <h3>{{ welcome.subtitle | e | safe }}</h3>
            {{ welcome.text | markdown | safe }}
            {%- set context = {
              theme: 'primary',
              href: welcome.btn.url,
              text: welcome.btn.text
            } %}
            {% include "@marke/ui-core/components/button/button.njk" %}
          </div>
          <div class="col-12 col-lg-6">
            <picture>
              <source
                media="(max-width:992px)" 
                srcset="{%- imageUrl welcome.image.url, { fetch_format: 'auto', quality: 'auto', width: 400, crop: 'thumb', gravity: 'auto', aspect_ratio: '16:9' } %}">
              <img 
                class="img-fluid rounded-3"
                alt="{{ welcome.image.alt | e | safe }}"
                loading="lazy"
                src="{%- imageUrl welcome.image.url, { fetch_format: 'auto', width: 540, quality: 'auto' } %}"
                srcset="{%- imageUrl welcome.image.url, { fetch_format: 'auto', width: 540, quality: 'auto', dpr: 2 } %} 2x"
              >
            </picture>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-light">
      <div class="container py-4 py-lg-5">
        <div class="row gy-4 gx-lg-5 gx-xl-6">
          <div class="col-12 col-lg-6">
            <h2>{{ numbers.title | markdown | safe }}</h2>
          </div>
          <div class="col-12 col-lg-6">
            <h3>{{ numbers.subtitle | e | safe }}</h3>
            {{ numbers.text | markdown | safe }}
          </div>
          <div class="col-12">
            {# Gráficos dos números #}
          </div>
        </div>
      </div>
    </section>
    <section class="position-relative">
      <div class="container py-4 py-lg-5">
        <div class="row gy-4">
          <div class="col-12 col-md-10 col-lg-8 mx-auto text-center">
            <h2>{{ units.title | markdown | safe }}</h2>
            <h3>{{ units.subtitle | e | safe }}</h3>
            {{ units.text | markdown | safe }}
          </div>
          <div class="col-12">
            {% set cards = [] %}
            {% for unit in collections.units %}
              {% set renderedItem %}
                {% set cardBody %}
                  <div class="d-flex flex-column h-100">
                    <h3>{{ unit.name | e | safe }}</h3>
                    <div class="card-excerpt">
                      {{ unit.excerpt | safe }}
                    </div>
                    {% set context = {
                      theme: 'primary',
                      href: unit.pathname,
                      text: 'Conheça a unidade',
                      override_classes: ['mt-auto align-self-start']
                    } %}
                    {% include "@marke/ui-core/components/button/button.njk" %}
                  </div>
                {% endset %}
                {% set context = {
                    image: {
                      url: unit.image,
                      alt: 'Foto da unidade ' + (unit.title | e | safe),
                      title: 'Foto da unidade ' + (unit.title | e | safe),
                      width: '350',
                      height: '200'
                    },
                    children: cardBody,
                    componentClasses: ['h-100']
                } %}
                {% include "@marke/ui-core/components/card/card.njk" %}
              {% endset %}
              {% set cards = (cards.push(renderedItem), cards) %}
            {% endfor %}
            {%- set context = {
              minSlidesPerView: 1,
              maxSlidesPerView: 3,
              total: (cards | length),
              items: cards,
              visibleOverflow: false,
              showNavs: true
            } %}
            {% include "@marke/ui-core/components/carousel/carousel.njk" %}
          </div>
        </div>
      </div>
      <img 
        loading="lazy"
        src="{%- imageUrl units.decorator, { fetch_format: 'auto', width: 600, quality: 'auto' } %}" 
        alt="Grafismo decorativo Feevale"
        class="d-none d-lg-block"
        style="position: absolute; top: 5%; right: 10%; z-index: -1;"
      >
    </section>
    <section class="bg-light">
      <div class="container py-4 py-lg-5">
        <div class="row">
          <div class="col-12 col-md-10 col-lg-9 mx-auto">
            {% set context = {
              id: video.id,
              alt: video.alt,
              toggles_modal: true,
              custom_thumbnail: video.thumbnail
            } %}
            {% include "@marke/ui-core/components/video-teaser/video-teaser.njk" %}
          </div>
        </div>
      </div>
    </section>
    <section class="desktop-areas d-none d-lg-block">
      <div class="container py-4 py-lg-5">
        <div class="row gy-5">
          <div class="col-12 col-md-10 col-lg-8 mx-auto text-center">
            <h2>{{ areas.title | markdown | safe }}</h2>
            <h3>{{ areas.subtitle | e | safe }}</h3>
            {{ areas.text | markdown | safe }}
          </div>
          <ul class="nav nav-tabs" id="areasTab" role="tablist" style="--areas-tab-cols: {{ collections.areas | length }}">
            {% for area in collections.areas %}
              <li class="nav-item" role="presentation">
                <button 
                  class="nav-link{% if loop.index == 1 %} active{% endif %}" 
                  id="{{ area.title | slug }}-tab" 
                  data-bs-toggle="tab" 
                  data-bs-target="#{{ area.title | slug }}-panel" 
                  type="button" 
                  role="tab" 
                  aria-controls="home"
                  >
                  <img
                    class="d-block"
                    loading="lazy"
                    width="60"
                    height="60"
                    src="{%- imageUrl area.image, { fetch_format: 'auto', quality: 'auto', width: 60, height: 60, crop: 'pad', dpr: 2 } %}" 
                    alt="Ícone sobre {{ area.title | e | safe }}">
                  <h3 class="h4 mb-2">{{ area.title | e | safe }}</h3>
                  </button>
              </li>
            {% endfor %}
          </ul>
          <div class="tab-content mt-3" id="areasTabContent">
            {% for area in collections.areas %}
              <div
                class="tab-pane fade{% if loop.index == 1 %} show active{% endif %}" 
                id="{{ area.title | slug }}-panel" 
                role="tabpanel" 
                aria-labelledby="{{ area.title | slug }}-tab"
                >
                  <p>{{ area.description | safe }}</p>
                  <div class="row mb-5">
                    {% for company in (collections.companies | companiesByAreas(area.id)) %}
                      {% if loop.index <= 4 %}
                        <div class="col-3">
                        {% set cardBody %}
                          <div class="d-flex flex-column text-center h-100">
                            <h4>{{ company.name | e | safe }}</h4>
                            {{ company.description | safe }}
                          </div>
                        {% endset %}
                        {% set context = {
                            image: {
                              url: company.image,
                              alt: 'Logo da ' + (company.name | e | safe),
                              title: 'Logo da ' + (company.name | e | safe),
                              width: '150',
                              height: '100'
                            },
                            children: cardBody
                        } %}
                        {% include "./components/company-card.njk" %}
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                  <div class="text-center">
                    {%- set context = {
                      theme: 'primary',
                      href: '#',
                      text: 'Saiba mais'
                    } %}
                    {% include "@marke/ui-core/components/button/button.njk" %}
                  </div>
                </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
    <section class="mobile-areas d-block d-lg-none">
      <div class="container py-4 py-lg-5">
        <div class="row gy-4 gy-lg-5">
          <div class="col-12 col-md-10 col-lg-8 mx-auto text-center">
            <h2>{{ areas.title | markdown | safe }}</h2>
            <h3>{{ areas.subtitle | e | safe }}</h3>
            {{ areas.text | markdown | safe }}
          </div>
          <div class="col-12">
            {% set cards = [] %}
            {% for area in collections.areas %}
              {% set renderedItem %}
                {% set cardBody %}
                  <div class="d-flex flex-column h-100">
                    <img
                      class="d-block mb-3"
                      loading="lazy"
                      width="60"
                      height="60"
                      src="{%- imageUrl area.image, { fetch_format: 'auto', quality: 'auto', width: 60, height: 60, crop: 'pad', dpr: 2 } %}" 
                      alt="Ícone sobre {{ area.title | e | safe }}"
                    >
                    <h3>{{ area.title | e | safe }}</h3>
                    <div class="card-excerpt">
                      {{ area.description | safe }}
                    </div>
                    {%- set context = {
                      theme: 'primary',
                      href: '#',
                      text: 'Saiba mais',
                      override_classes: ['mt-auto', 'align-self-start']
                    } %}
                    {% include "@marke/ui-core/components/button/button.njk" %}
                  </div>
                {% endset %}
                {% set context = {
                    children: cardBody,
                    componentClasses: ['h-100']
                } %}
                {% include "@marke/ui-core/components/card/card.njk" %}
              {% endset %}
              {% set cards = (cards.push(renderedItem), cards) %}
            {% endfor %}
            {%- set context = {
              minSlidesPerView: 1,
              maxSlidesPerView: 3,
              total: (cards | length),
              items: cards,
              visibleOverflow: false,
              showNavs: true
            } %}
            {% include "@marke/ui-core/components/carousel/carousel.njk" %}
          </div>
        </div>
      </div>
    </section>
  </main>
{%- endblock %}
{{ content | safe }}