{%- extends 'base.njk' %}
{%- block content %}
  <main class="main-content">
    {% set masthead = {
      image: masthead.image,
      bgColor: masthead.bgColor,
      title: masthead.title,
      btn: { text: masthead.btn.text, url: masthead.btn.url }
    } %}
    {% include "./partials/masthead.njk" %}
    <section id="{{ layout }}-welcome">
      <div class="container py-4 py-lg-5">
        <div class="row gy-4 gx-lg-5 gx-xl-6">
          <div class="col-12 col-lg-7 d-lg-flex flex-column order-1 order-lg-0">
            <h2>{{ welcome.title | markdown | safe }}</h2>
            <h3>{{ welcome.subtitle | e | safe }}</h3>
            {{ welcome.text | markdown | safe }}
            {%- set context = {
              theme: 'primary',
              href: welcome.btn.url,
              text: welcome.btn.text,
              override_classes: ['mt-lg-auto', 'align-self-lg-start']
            } %}
            {% include "@marke/ui-core/components/button/button.njk" %}
          </div>
          <div class="col-12 col-lg-5">
            <picture>
              <source
                media="(max-width:992px)" 
                srcset="{%- imageUrl welcome.image.url, { fetch_format: 'auto', quality: 'auto', width: 400, crop: 'thumb', gravity: 'auto', aspect_ratio: '16:9' } %}">
              <img 
                class="img-fluid rounded-3"
                alt="{{ welcome.image.alt | e | safe }}"
                loading="lazy"
                src="{%- imageUrl welcome.image.url, { fetch_format: 'auto', width: 540, quality: 'auto' } %}"
                srcset="{%- imageUrl welcome.image.url, { fetch_format: 'auto', width: 540, quality: 'auto', dpr: 2 } %} 2x"
              >
            </picture>
          </div>
        </div>
      </div>
    </section>
    <section id="{{ layout }}-numbers" class="bg-light">
      <div class="container py-4 py-lg-5">
        <div class="row gx-lg-5 gx-xl-6 mb-3 mb-lg-5">
          <div class="col-12 col-lg-6">
            <h2>{{ numbers.title | markdown | safe }}</h2>
          </div>
          <div class="col-12 col-lg-6">
            <h3>{{ numbers.subtitle | e | safe }}</h3>
            {{ numbers.text | markdown | safe }}
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            {% set items = [] %}
            {% for item in numbers.items %}
              {% set renderedItem %}
                <div class="text-center">
                  <img 
                    src="{%- imageUrl item.icon, { 
                      fetch_format: 'auto', 
                      quality: 'auto', 
                      width: 70, 
                      height: 70, 
                      dpr: 2, 
                      crop: 'pad' 
                    } %}" 
                    alt="{{ item.text }}"
                    height="70"
                    width="70"
                    class="mb-3"
                  >
                  <p>{{ item.label }}</p>
                  <h3>{{ item.text }}</h3>
                </div>
              {% endset %}
              {% set items = (items.push(renderedItem), items) %}
            {% endfor %}
            {%- set context = {
              minSlidesPerView: 1,
              maxSlidesPerView: 4,
              total: (items | length),
              items: items,
              showNavs: false
            } %}
            {% include "@marke/ui-core/components/carousel/carousel.njk" %}
          </div>
        </div>
      </div>
    </section>
    <section id="{{ layout }}-units" class="position-relative">
      <div class="container py-4 py-lg-5">
        <div class="row gy-4 gy-lg-5">
          <div class="col-12 col-md-10 col-lg-8 mx-auto text-center">
            <h2>{{ units.title | markdown | safe }}</h2>
            <h3>{{ units.subtitle | e | safe }}</h3>
            {{ units.text | markdown | safe }}
          </div>
          <div class="col-12">
            {% set cards = [] %}
            {% for unit in collections.units %}
              {% set renderedItem %}
                {% set cardBody %}
                  <div class="d-flex flex-column h-100">
                    <h3>{{ unit.title | e | safe }}</h3>
                    <div class="card-excerpt">
                      {{ unit.excerpt | safe }}
                    </div>
                    {% set context = {
                      theme: 'primary',
                      href: unit.pathname,
                      text: 'Conheça a unidade',
                      override_classes: ['mt-auto align-self-start']
                    } %}
                    {% include "@marke/ui-core/components/button/button.njk" %}
                  </div>
                {% endset %}
                {% set context = {
                    image: {
                      url: unit.cardImage,
                      alt: 'Foto da unidade ' + (unit.title | e | safe),
                      title: 'Foto da unidade ' + (unit.title | e | safe),
                      width: '350',
                      height: '200'
                    },
                    interactive: true,
                    body: cardBody,
                    componentClasses: ['h-100']
                } %}
                {% include "./components/card.njk" %}
              {% endset %}
              {% set cards = (cards.push(renderedItem), cards) %}
            {% endfor %}
            {%- set context = {
              minSlidesPerView: 1,
              maxSlidesPerView: 3,
              total: (cards | length),
              items: cards,
              showNavs: true
            } %}
            {% include "@marke/ui-core/components/carousel/carousel.njk" %}
          </div>
        </div>
      </div>
      <img 
        loading="lazy"
        src="{%- imageUrl units.decorator, { fetch_format: 'auto', width: 600, quality: 'auto' } %}" 
        alt="Grafismo decorativo Feevale"
        class="d-none d-lg-block"
        style="position: absolute; top: 0; right: 5%; z-index: -1;"
      >
    </section>
    <section id="{{ layout }}-video" class="bg-light">
      <div class="container py-4 py-lg-5">
        <div class="row">
          <div class="col-12 col-md-10 col-lg-9 mx-auto">
            {% set context = {
              id: video.id,
              alt: video.alt,
              toggles_modal: true,
              custom_thumbnail: video.thumbnail
            } %}
            {% include "@marke/ui-core/components/video-teaser/video-teaser.njk" %}
          </div>
        </div>
      </div>
    </section>
    <section id="{{ layout }}-areas">
      <div class="container py-4 py-lg-5">
        <div class="row gy-4">
          <div class="col-12 col-md-10 col-lg-8 mx-auto text-center">
            <h2>{{ areas.title | markdown | safe }}</h2>
            <h3>{{ areas.subtitle | e | safe }}</h3>
            {{ areas.text | markdown | safe }}
          </div>
          <div id="desktop-areas" class="col-12 d-none d-lg-block">
            <ul class="nav nav-tabs areas-tab" id="areas-tab" role="tablist" style="--areas-tab-cols: {{ collections.areas | length }}">
              {% for area in collections.areas %}
                <li class="nav-item" role="presentation">
                  <button 
                    class="nav-link areas-tab__button{% if loop.index == 1 %} active{% endif %}" 
                    id="{{ area.title | slug }}-tab" 
                    data-bs-toggle="tab" 
                    data-bs-target="#{{ area.title | slug }}-panel" 
                    type="button" 
                    role="tab" 
                    aria-controls="home"
                    >
                    <img
                      class="d-block"
                      loading="lazy"
                      width="50"
                      height="50"
                      src="{%- imageUrl area.image, { fetch_format: 'auto', quality: 'auto', width: 50, height: 50, crop: 'pad', dpr: 2 } %}" 
                      alt="Ícone sobre {{ area.title | e | safe }}">
                    <h3 class="h5">{{ area.title | e | safe }}</h3>
                    </button>
                </li>
              {% endfor %}
            </ul>
            <div class="tab-content mt-3" id="areas-tabontent">
              {% for area in collections.areas %}
                <div
                  class="tab-pane fade{% if loop.index == 1 %} show active{% endif %}" 
                  id="{{ area.title | slug }}-panel" 
                  role="tabpanel" 
                  aria-labelledby="{{ area.title | slug }}-tab"
                  >
                    <p>{{ area.description | safe }}</p>
                    <div class="row mb-5">
                      {% for company in (collections.companies | companiesByAreas(area.id) | arraySlice(0, 4)) %}
                        <div class="col-3">
                        {% set cardHeader %}
                          <div class="text-center p-3">
                            <img 
                              src="{%- imageUrl company.image, { 
                                effect: 'art:audrey',
                                fetch_format: 'auto',
                                quality: 'auto',
                                width: 150,
                                height: 100,
                                crop: 'pad'
                              } %}"
                              srcset="{%- imageUrl company.image, { 
                                effect: 'art:audrey',
                                fetch_format: 'auto',
                                quality: 'auto',
                                width: 150,
                                height: 100,
                                crop: 'pad',
                                dpr: 2
                              } %} 2x"
                              loading="lazy"
                              width="150"
                              height="100"
                              alt="Logo da {{ company.title | e | safe }}"
                              title="Logo da {{ company.title | e | safe }}"
                            >
                          </div>
                        {% endset %}
                        {% set cardBody %}
                          <div class="d-flex flex-column text-center h-100">
                            <h4>{{ company.title | e | safe }}</h4>
                            <div class="card-excerpt">{{ company.description | e | safe }}</div>
                            {%- set context = {
                              theme: 'outline-secondary',
                              href: 'https://' + (company.site | url),
                              text: 'Conheça',
                              override_classes: ['align-self-center']
                            } %}
                            {% include "@marke/ui-core/components/button/button.njk" %}
                          </div>
                        {% endset %}
                        {% set context = {
                          body: cardBody,
                          interactive: true,
                          header: cardHeader,
                          componentClasses: ['h-100']
                        } %}
                        {% include "./components/card.njk" %}
                        </div>
                      {% endfor %}
                    </div>
                  </div>
              {% endfor %}
            </div>
          </div>
          <div id="mobile-areas" class="col-12 d-block d-lg-none">
            {% set cards = [] %}
            {% for area in collections.areas %}
              {% set renderedItem %}
                {% set cardBody %}
                  <div class="d-flex flex-column h-100">
                    <img
                      class="d-block mb-3"
                      loading="lazy"
                      width="60"
                      height="60"
                      src="{%- imageUrl area.image, { fetch_format: 'auto', quality: 'auto', width: 60, height: 60, crop: 'pad', dpr: 2 } %}" 
                      alt="Ícone sobre {{ area.title | e | safe }}"
                    >
                    <h3>{{ area.title | e | safe }}</h3>
                    <div class="card-excerpt">
                      {{ area.description | safe }}
                    </div>
                    {%- set context = {
                      theme: 'primary',
                      href: '#',
                      text: 'Saiba mais',
                      override_classes: ['mt-auto', 'align-self-start']
                    } %}
                    {% include "@marke/ui-core/components/button/button.njk" %}
                  </div>
                {% endset %}
                {% set context = {
                    body: cardBody,
                    componentClasses: ['h-100']
                } %}
                {% include "./components/card.njk" %}
              {% endset %}
              {% set cards = (cards.push(renderedItem), cards) %}
            {% endfor %}
            {%- set context = {
              minSlidesPerView: 1,
              maxSlidesPerView: 3,
              total: (cards | length),
              items: cards,
              visibleOverflow: false,
              showNavs: true
            } %}
            {% include "@marke/ui-core/components/carousel/carousel.njk" %}
          </div>
          <div class="col-12 text-center d-none d-lg-block">
            {%- set context = {
              theme: 'primary',
              href: areas.btn.url,
              text: areas.btn.text
            } %}
            {% include "@marke/ui-core/components/button/button.njk" %}
          </div>
        </div>
      </div>
    </section>
    {% include "./partials/benefits.njk" %}
    <section id="{{ layout }}-programs">
      <div class="container py-4 py-lg-5">
        <div class="row gy-lg-5 gx-lg-5 gx-xl-6 mb-3 mb-lg-5">
          <div class="col-12 col-lg-6">
            <h2>{{ programs.title | markdown | safe }}</h2>
          </div>
          <div class="col-12 col-lg-6">
            {{ programs.text | markdown | safe }}
          </div>
        </div>
        <div class="row gy-4 gy-lg-5 gx-lg-5">
          <div class="col-12">
            {% set cards = [] %}
            {% for program in collections.programs %}
              {% set renderedItem %}
                {% set cardBody %}
                  <div class="d-flex align-items-center h-100">
                    <img
                      src="{%- imageUrl program.data.logo, { effect: 'art:audrey', fetch_format: 'auto', quality: 'auto', width: 400, aspect_ratio: '16:9', crop: 'pad' } %}" 
                      srcset="{%- imageUrl program.data.logo, { effect: 'art:audrey', fetch_format: 'auto', quality: 'auto', width: 400, aspect_ratio: '16:9', crop: 'pad', dpr: 2 } %} 2x" 
                      alt="{{ program.data.title | e | safe }}"
                      loading="lazy"
                      class="img-fluid"
                    >
                  </div>
                {% endset %}
                {% set context = {
                    image: {
                      url: 'https://res.cloudinary.com/feevale-techpark/image/upload/v1634136759/program-bg.png',
                      alt: 'Imagem de fundo',
                      title: program.data.title,
                      width: '550',
                      height: '260',
                      link: program.data.link
                    },
                    interactive: true,
                    interactiveBg: true,
                    overlay: true,
                    body: cardBody
                } %}
                {% include './components/card.njk' %}
              {% endset %}
              {% set cards = (cards.push(renderedItem), cards) %}
            {% endfor %}
            {%- set context = {
              minSlidesPerView: 1,
              maxSlidesPerView: 3,
              total: (cards | length),
              items: cards,
              visibleOverflow: false,
              showNavs: true
            } %}
            {% include "@marke/ui-core/components/carousel/carousel.njk" %}
          </div>
          <div class="col-12 text-center">
            {%- set context = {
              theme: 'primary',
              href: programs.btn.url,
              text: programs.btn.text
            } %}
            {% include "@marke/ui-core/components/button/button.njk" %}
          </div>
        </div>
      </div>
    </section>
    <section id="{{ layout }}-courses-and-events" class="position-relative">
      <div class="container py-4 py-lg-5">
        <div class="row gy-lg-5 gx-lg-5 gx-xl-6 mb-3 mb-lg-5">
          <div class="col-12 col-lg-4">
            <h2>{{ courses_and_events.title | markdown | safe }}</h2>
          </div>
          <div class="col-12 col-lg-6">
            {{ courses_and_events.text | markdown | safe }}
          </div>
        </div>
        <div class="row gy-4 gy-lg-5 gx-lg-5">
          <div class="col-12">
            {% set cards = [] %}
            {% for item in collections.coursesAndEvents %}
              {% set renderedItem %}
                {% set cardBody %}
                  <div class="d-flex flex-column h-100">
                    <time datetime="{{ item.date }}" class="mb-3">{{ item.date | localeDateString }}</time>
                    <h3>{{ item.title | e | safe }}</h3>
                    <div class="card-excerpt">
                      {{ item.excerpt | safe }}
                    </div>
                    {% set context = {
                      theme: 'outline-secondary',
                      href: item.url,
                      target: '_blank',
                      text: 'Leia mais',
                      override_classes: ['mt-auto align-self-start']
                    } %}
                    {% include "@marke/ui-core/components/button/button.njk" %}
                  </div>
                {% endset %}
                {% set context = {
                    interactive: true,
                    interactiveBg: true,
                    body: cardBody,
                    componentClasses: ['h-100']
                } %}
                {% include "./components/card.njk" %}
              {% endset %}
              {% set cards = (cards.push(renderedItem), cards) %}
            {% endfor %}
            {%- set context = {
              minSlidesPerView: 1,
              maxSlidesPerView: 3,
              total: (cards | length),
              items: cards,
              showNavs: true
            } %}
            {% include "@marke/ui-core/components/carousel/carousel.njk" %}
          </div>
          <div class="col-12 text-center">
            {%- set context = {
              theme: 'primary',
              target: '_blank',
              href: courses_and_events.btn.url,
              text: courses_and_events.btn.text
            } %}
            {% include "@marke/ui-core/components/button/button.njk" %}
          </div>
        </div>
      </div>
      <img 
        loading="lazy"
        src="{%- imageUrl units.decorator, { fetch_format: 'auto', width: 600, quality: 'auto' } %}" 
        alt="Grafismo decorativo Feevale"
        class="d-none d-lg-block"
        style="position: absolute; top: 0; left: 5%; z-index: -1;"
      >
    </section>
    {% include "./partials/institutional-partners.njk" %}
    {% include "./partials/tech-news.njk" %}
  </main>
{%- endblock %}
{{ content | safe }}