{%- extends 'base.njk' %}
{%- block content %}
  <main class="main-content">
    {% include "./partials/masthead.njk" %}
    <section id="{{ layout }}-business-partners">
      <div class="container py-4 py-lg-5">
        <div class="row gx-lg-5 gx-xl-6 mb-3 mb-lg-5">
          <div class="col-12 col-lg-6">
            <h2>{{ business_partners.title | markdown | safe }}</h2>
          </div>
          <div class="col-12 col-lg-6">
            {{ business_partners.text | markdown | safe }}
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            {% set context = {
              search_placeholder: business_partners.search_placeholder,
              partners: collections.businessPartners
            } %}
            {% include "./components/partners-listing.njk" %}
          </div>
        </div>
      </div>
    </section>
    <section id="{{ layout }}-institutional-partners" class="bg-light">
      <div class="container py-4 py-lg-5">
        <div class="row gy-4">
          <div class="col-12 text-center">
            <h2>{{ partners.title | markdown | safe }}</h2>
          </div>
          <div class="col-12 col-lg-9 mx-auto gx-3">
            <h3 class="text-center">Associados:</h3>
            {% set items = [] %}
            {% for partner in (collections.institutionalPartners | partnersByType('parceiro-associado')) %}
              {% set renderedItem %}
                <div class="w-100 text-center">
                  {% if partner.site %}
                  <a href="https://{{ partner.site }}" target="_blank">
                  {% endif %}
                  <picture>
                    <source
                      media="(max-width:992px)" 
                      width="240"
                      height="135"
                      srcset="{%- imageUrl partner.image, { effect: 'art:audrey', fetch_format: 'auto', quality: 'auto', width: 240, aspect_ratio: '16:9', crop: 'pad' } %}"
                    >
                    <img
                      width="154"
                      height="87"
                      src="{%- imageUrl partner.image, { effect: 'art:audrey', fetch_format: 'auto', quality: 'auto', width: 154, aspect_ratio: '16:9', crop: 'pad' } %}" 
                      srcset="{%- imageUrl partner.image, { effect: 'art:audrey', fetch_format: 'auto', quality: 'auto', width: 154, aspect_ratio: '16:9', crop: 'pad', dpr: 2 } %} 2x" 
                      alt="{{ partner.title | e | safe }}"
                      loading="lazy"
                      class="img-fluid"
                    >
                  </picture>
                  {% if partner.site %}
                  </a>
                  {% endif %}
                </div>
              {% endset %}
              {% set items = (items.push(renderedItem), items) %}
            {% endfor %}
            {%- set context = {
              minSlidesPerView: 1,
              maxSlidesPerView: 3,
              total: (items | length),
              items: items,
              visibleOverflow: false
            } %}
            {% include "@marke/ui-core/components/carousel/carousel.njk" %}
          </div>
          <div class="col-12 col-lg-9 mx-auto gx-3">
            <h3 class="text-center">Parceiros Estratégicos:</h3>
            {% set items = [] %}
            {% for partner in (collections.institutionalPartners | partnersByType('parceiro-estrategico')) %}
              {% set renderedItem %}
                <div class="w-100 text-center">
                  {% if partner.site %}
                  <a href="https://{{ partner.site }}" target="_blank">
                  {% endif %}
                  <picture>
                    <source
                      media="(max-width:992px)" 
                      width="240"
                      height="135"
                      srcset="{%- imageUrl partner.image, { effect: 'art:audrey', fetch_format: 'auto', quality: 'auto', width: 240, aspect_ratio: '16:9', crop: 'pad' } %}"
                    >
                    <img
                      width="154"
                      height="87"
                      src="{%- imageUrl partner.image, { effect: 'art:audrey', fetch_format: 'auto', quality: 'auto', width: 154, aspect_ratio: '16:9', crop: 'pad' } %}" 
                      srcset="{%- imageUrl partner.image, { effect: 'art:audrey', fetch_format: 'auto', quality: 'auto', width: 154, aspect_ratio: '16:9', crop: 'pad', dpr: 2 } %} 2x" 
                      alt="{{ partner.title | e | safe }}"
                      loading="lazy"
                      class="img-fluid"
                    >
                  </picture>
                  {% if partner.site %}
                  </a>
                  {% endif %}
                </div>
              {% endset %}
              {% set items = (items.push(renderedItem), items) %}
            {% endfor %}
            {%- set context = {
              minSlidesPerView: 1,
              maxSlidesPerView: 3,
              total: (items | length),
              items: items,
              visibleOverflow: false,
              showNavs: true
            } %}
            {% include "@marke/ui-core/components/carousel/carousel.njk" %}
          </div>
        </div>
      </div>
    </section>
  </main>
{%- endblock %}
{{ content | safe }}