{%- extends 'base.njk' %}
{%- block content %}
  <main class="main-content">
    {% set masthead = {
      image: masthead.image,
      bgColor: masthead.bgColor,
      title: masthead.title,
      description: masthead.description,
      btn: { text: masthead.btn.text, url: masthead.btn.url }
    } %}
    {% include "./partials/masthead.njk" %}
    <section id="{{ layout }}-programs-mobile" class="d-block d-lg-none">
      <div class="container py-4">
        <div class="row gy-4">
          <div class="col-12">
            {% set cards = [] %}
            {% for program in collections.programs %}
              {% set renderedItem %}
                {% set cardBody %}
                  <div class="d-flex flex-column h-100">
                    <img 
                      class="img-fluid mb-3"
                      alt="Logo do programa {{ program.title | e | safe }}"
                      loading="lazy"
                      width="273"
                      height="82"
                      src="{%- imageUrl program.data.logo, { fetch_format: 'auto', quality: 'auto', crop: 'pad', width: 273, height: 82 } %}"
                      srcset="{%- imageUrl program.data.logo, { fetch_format: 'auto', quality: 'auto', crop: 'pad', width: 273, height: 82, dpr: 2 } %} 2x"
                    >
                    <h3>{{ program.data.title | e | safe }}</h3>
                    {% if program.templateContent %}
                      <div class="card-excerpt">
                        {{ program.templateContent | safe }}
                      </div>
                    {% endif %}
                    {% if program.data.link %}
                      {% set context = {
                        theme: 'primary',
                        target: '_blank',
                        href: program.data.link,
                        text: 'Saiba Mais',
                        override_classes: ['mt-auto align-self-start']
                      } %}
                      {% include "@marke/ui-core/components/button/button.njk" %}
                    {% endif %}
                  </div>
                {% endset %}
                {% set context = {
                    body: cardBody,
                    componentClasses: ['h-100']
                } %}
                {% include "./components/card.njk" %}
              {% endset %}
              {% set cards = (cards.push(renderedItem), cards) %}
            {% endfor %}
            {%- set context = {
              minSlidesPerView: 1,
              maxSlidesPerView: 3,
              total: (cards | length),
              items: cards,
              showNavs: true
            } %}
            {% include "@marke/ui-core/components/carousel/carousel.njk" %}
          </div>
        </div>
      </div>
    </section>
    <section id="{{ layout }}-programs-desktop" class="d-none d-lg-block">
      <div class="container py-5">
        <div class="row gy-4 gx-5 gx-xl-6">
          <div class="col-5">
            <div 
              class="nav nav-pills d-inline-block shadow rounded query-tab" 
              id="programs-tab" 
              aria-orientation="vertical"
              role="tablist" 
            >
              {% for program in collections.programs %}
                <button 
                  class="nav-link text-start w-100 py-4 px-5{% if loop.index == 1 %} active{% endif %}" 
                  id="{{ program.data.title | slug }}-tab" 
                  data-bs-toggle="pill" 
                  data-bs-target="#{{ program.data.title | slug }}" 
                  type="button" 
                  role="tab" 
                  aria-controls="{{ program.data.title | slug }}" 
                  aria-selected="{% if loop.index == 1 %}true{% else %}false{% endif %}"
                  data-title="{{ program.data.title | slug }}"
                >
                  <span class="h3" style="color: inherit;">{{ program.data.title | e | safe }}</span>
                </button>
              {% endfor %}
            </div>
          </div>
          <div class="col-7">
            <div class="tab-content" id="programs-tab-content">
              {% for program in collections.programs %}
                <div 
                  class="tab-pane fade{% if loop.index == 1 %} show active{% endif %}" 
                  id="{{ program.data.title | slug }}"
                  aria-labelledby="{{ program.data.title | slug }}-tab"
                  role="tabpanel"
                  data-title="{{ program.data.title | slug }}"
                > 
                  <img 
                    class="img-fluid mb-3"
                    alt="Logo do programa {{ program.title | e | safe }}"
                    loading="lazy"
                    width="300"
                    height="150"
                    src="{%- imageUrl program.data.logo, { fetch_format: 'auto', quality: 'auto', crop: 'pad', width: 300, height: 150 } %}"
                    srcset="{%- imageUrl program.data.logo, { fetch_format: 'auto', quality: 'auto', crop: 'pad', width: 300, height: 150, dpr: 2 } %} 2x"
                  >
                  {{ program.templateContent | safe }}
                  {% if program.data.link %}
                    {%- set context = {
                      theme: 'primary',
                      target: '_blank',
                      href: program.data.link,
                      text: 'Saiba Mais'
                    } %}
                    {% include "@marke/ui-core/components/button/button.njk" %}
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include "./partials/institutional-partners.njk" %}
    {% include "./partials/tech-news.njk" %}
  </main>
{%- endblock %}
{{ content | safe }}