{%- extends 'base.njk' %}
{%- block content %}
  <main class="main-content">
    {% set masthead = {
      image: masthead.image,
      bgColor: masthead.bgColor,
      title: masthead.title,
      description: masthead.description,
      btn: { text: masthead.btn.text, url: masthead.btn.url }
    } %}
    {% include "./partials/masthead.njk" %}
    <section id="{{ layout }}-pills">
      <div class="container py-4 py-lg-5">
        <div class="row gy-4 gx-lg-5 gx-xl-6">
          <div class="col-6">
            <div class="nav nav-pills d-inline-block shadow rounded-3" id="programs-tab" role="tablist" aria-orientation="vertical">
              {% for program in collections.programs %}
                <button 
                  class="nav-link text-start w-100 py-4 px-6{% if loop.index == 1 %} active{% endif %}" 
                  id="{{ program.data.title | slug }}-tab" 
                  data-bs-toggle="pill" 
                  data-bs-target="#{{ program.data.title | slug }}" 
                  type="button" 
                  role="tab" 
                  aria-controls="{{ program.data.title | slug }}" 
                  aria-selected="{% if loop.index == 1 %}true{% else %}false{% endif %}"
                >
                  <span class="fs-3">{{ program.data.title | e | safe }}</span>
                </button>
              {% endfor %}
            </div>
          </div>
          <div class="col-6">
            <div class="tab-content" id="programs-tab-content">
              {% for program in collections.programs %}
                <div 
                  class="tab-pane fade{% if loop.index == 1 %} show active{% endif %}" 
                  id="{{ program.data.title | slug }}"
                  aria-labelledby="{{ program.data.title | slug }}-tab"
                  role="tabpanel"
                > 
                  <img 
                    class="img-fluid mb-3"
                    alt="Logo do programa {{ program.title | e | safe }}"
                    loading="lazy"
                    width="540"
                    height="162"
                    src="{%- imageUrl program.data.logo, { fetch_format: 'auto', quality: 'auto', crop: 'pad', width: 540, height: 162 } %}"
                    srcset="{%- imageUrl program.data.logo, { fetch_format: 'auto', quality: 'auto', crop: 'pad', width: 540, height: 162, dpr: 2 } %} 2x"
                  >
                  {{ program.templateContent | safe }}
                  {%- set context = {
                    theme: 'primary',
                    target: '_blank',
                    href: pills.btn.url,
                    text: pills.btn.text
                  } %}
                  {% include "@marke/ui-core/components/button/button.njk" %}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include "./partials/tech-news.njk" %}
  </main>
{%- endblock %}
{{ content | safe }}