{%- extends 'base.njk' %}
{%- block content %}
  <main class="main-content">
    {% include "./partials/masthead.njk" %}
    <section id="{{ layout }}-posts" class="position-relative">
      <div class="container py-4 py-lg-5">
        <div class="row mb-3 mb-lg-5">
          <div class="col-12 col-lg-7">
            <h2>{{ posts.title | markdown | safe }}</h2>
          </div>
        </div>
        {% for item in news %}
          <div class="row gy-3 gx-lg-5 gx-xl-6 mb-5 mb-xl-6">
            <div class="col-12 col-lg-6">
              <a href="{{ item.url | url }}" target="_blank">
                {%- image item.image, { 
                  class: 'img-fluid rounded shadow', 
                  type: 'fetch', 
                  loading: 'lazy',
                  transformation: [{ 
                    fetch_format: 'auto', 
                    quality: 'auto', 
                    width: 600, 
                    crop: 'thumb', 
                    gravity: 'auto', 
                    aspect_ratio: '21:9'
                  }] 
                } %}
              </a>
            </div>
            <div class="col-12 col-lg-6 d-flex flex-column">
              {% set context = {
                titleTag: 'h3',
                title: item.title, 
                date: item.date,
                excerpt: item.excerpt
              } %}
              {% include "@marke/ui-core/components/post-preview/post-preview.njk" %}
              {%- set context = {
                theme: 'primary',
                href: item.url,
                target: '_blank',
                text: posts.btn_label,
                override_classes: ['mt-auto', 'align-self-start']
              } %}
              {% include "@marke/ui-core/components/button/button.njk" %}
            </div>
          </div>
        {% endfor %}
        <div class="row mb-3 mb-lg-5">
          <div class="col-12">
            <div class="d-flex flex-wrap gap-2">
            {% for page in pagination.hrefs %}
              {% if loop.index0 == pagination.pageNumber %}
                {% set btnTheme = 'primary' %}
              {% else %}
                {% set btnTheme = 'light' %}
              {% endif %}
              {%- set context = {
                theme: btnTheme,
                href: page,
                text: loop.index,
                override_classes: ['mt-auto', 'align-self-start']
              } %}
              {% include "@marke/ui-core/components/button/button.njk" %}
            {% endfor %}  
            {%- set context = {
              theme: 'light',
              href: posts.all_posts_url,
              text: 'Ver mais'
            } %}
            {% include "@marke/ui-core/components/button/button.njk" %}
            </div>
          </div>
        </div>
      </div>
      <img 
        loading="lazy"
        src="{%- imageUrl posts.decorator, { fetch_format: 'auto', width: 700, quality: 'auto' } %}" 
        alt="Grafismo decorativo Feevale"
        class="d-none d-lg-block"
        style="position: absolute; top: 3%; right: 15%; z-index: -1;"
      >
    </section>
    <section id="{{ layout }}-videos" class="bg-light">
      <div class="container py-4 py-lg-5">
        <div class="row">
          <div class="col-12 col-lg-7">
            <h2>{{ videos.title | markdown | safe }}</h2>
          </div>
        </div>
        <div class="row gy-4 gy-lg-5">
          <div class="col-12">
            {% set teasers = [] %}
            {% for video in collections.videos %}
              {% set renderedItem %}
                <figure class="mb-0 mt-5">
                  {% set context = {
                    id: video.id,
                    alt: video.title,
                    toggles_modal: true,
                    extra_classes: ['mb-2']
                  } %}
                  {% include "@marke/ui-core/components/video-teaser/video-teaser.njk" %}
                  <figcaption class="fs-6 text-black mb-0 mt-3">{{ video.title | e | safe }}</figcaption>
                </figure>
              {% endset %}
              {% set teasers = (teasers.push(renderedItem), teasers) %}
            {% endfor %}
            {%- set context = {
              minSlidesPerView: 1,
              maxSlidesPerView: 3,
              total: (teasers | length),
              items: teasers,
              showNavs: true
            } %}
            {% include "@marke/ui-core/components/carousel/carousel.njk" %}
          </div>
          <div class="col-12 text-center">
            {%- set context = {
              theme: 'primary',
              href: videos.btn.url,
              text: videos.btn.text,
              target: '_blank'
            } %}
            {% include "@marke/ui-core/components/button/button.njk" %}
          </div>
        </div>
      </div>
    </section>
  </main>
{%- endblock %}
{{ content | safe }}