{%- extends 'base.njk' %}
{%- block content %}
  <main class="main-content">
    <section id="masthead">
      <ul>
        {% for item in news %}
          <li>
            {{ item.title }}
          </li>
        {% endfor %}
      </ul>
    </section>
  </main>
{%- endblock %}
{{ content | safe }}