{%- extends 'base.njk' %}
{%- block content %}
  <main class="main-content">
    {% set masthead = {
      image: unit.mastheadImage,
      bgColor: masthead.bgColor,
      title: unit.title,
      description: unit.description,
      btn: { text: masthead.btn.text, url: masthead.btn.url }
    } %}
    {% include "./partials/masthead.njk" %}
    <section id="{{ layout }}-welcome">
      <div class="container py-4 py-lg-5">
        <div class="row gy-lg-4">
          <div class="col-12">
            <h2>Conheça a <span class="text-primary">{{ unit.title | e | safe }}</span></h2>
          </div>
          <div class="col-12">
            <div class="column-count-1 column-count-lg-2" style="column-gap: var(--mkui-gutter-x);">
              {{ unit.content | safe }}
            </div>
          </div>
        </div>
      </div>
    </section>
    {% if unit.steps %}
    <section id="{{ layout }}-steps" class="bg-light">
      <div class="container py-4 py-lg-5">
        <div class="row gy-4">
          <div class="col-12 col-lg-9 col-xl-8 mx-auto text-center">
            {% for step in unit.steps %}
              <h3 class="h2">{{ loop.index }}º etapa: <span class="text-primary">{{ step.title }}</span></h3>
              {{ step.description | safe }}
              {% if not loop.last %}<div class="separator"></div>{% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
    {% endif %}
    <section id="{{ layout }}-slider">
      <div class="container py-4 py-lg-5">
        <div class="row gy-4">
          <div class="col-12 col-md-10 col-lg-9 mx-auto">
            {% set images = [] %}
            {% for image in unit.slider %}
              {% set imageMarkup %}
                <picture>
                  <source
                    media="(max-width:992px)" 
                    srcset="{%- imageUrl image, { fetch_format: 'auto', quality: 'auto', width: 400, crop: 'thumb', gravity: 'auto', aspect_ratio: '16:9' } %}">
                  <img 
                    class="img-fluid rounded-3"
                    alt="Imagem da {{ unit.title | e | safe }}"
                    loading="lazy"
                    src="{%- imageUrl image, { fetch_format: 'auto', quality: 'auto', width: 876, crop: 'thumb', gravity: 'auto', aspect_ratio: '16:9' } %}"
                    srcset="{%- imageUrl image, { fetch_format: 'auto', quality: 'auto', width: 876, crop: 'thumb', gravity: 'auto', aspect_ratio: '16:9', dpr: 2 } %} 2x"
                  >
                </picture>
              {% endset %}
              {% set images = (images.push(imageMarkup), images) %}
            {% endfor %}
            {%- set context = {
              minSlidesPerView: 1,
              maxSlidesPerView: 1,
              total: (images | length),
              items: images,
              showNavs: true
            } %}
            {% include "@marke/ui-core/components/carousel/carousel.njk" %}
          </div>
        </div>
      </div>
    </section>
    {% if not unit.steps %}
    <section id="{{ layout }}-companies" class="bg-light">
      <div class="container py-4 py-lg-5">
        <div class="row gy-4">
          <div class="col-12 text-center">
            <h2>{{ companies.title | markdown | safe }}</h2>
            <p>{{ companies.description | e | safe }} {{ unit.title | e | safe}}</p>
          </div>
          <div class="col-12">
            {% set cards = [] %}
            {% for company in (collections.companies | companiesByUnit(unit.id) | arraySlice(0, 4)) %}
              {% set renderedItem %}
                {% set cardHeader %}
                  <div class="text-center p-3">
                    <img 
                      src="
                      {%-
                        imageUrl company.image, { 
                          effect: 'art:audrey',
                          fetch_format: 'auto',
                          quality: 'auto',
                          width: 150,
                          height: 100,
                          crop: 'pad'
                      } %}"
                      srcset="
                      {%-
                        imageUrl company.image, { 
                          effect: 'art:audrey',
                          fetch_format: 'auto',
                          quality: 'auto',
                          width: 150,
                          height: 100,
                          crop: 'pad',
                          dpr: 2
                        } 
                      %} 2x"
                      loading="lazy"
                      width="150"
                      height="100"
                      alt="Logo da {{ company.title | e | safe }}"
                      title="Logo da {{ company.title | e | safe }}"
                    >
                  </div>
                {% endset %}
                {% set cardBody %}
                  <div class="d-flex flex-column text-center h-100">
                    <h4 class="fw-bold">{{ company.title | e | safe }}</h4>
                    <div class="card-excerpt">{{ company.description | e | safe }}</div>
                    {%- set context = {
                      theme: 'outline-secondary',
                      href: 'https://' + (company.site | url),
                      text: 'Conheça',
                      override_classes: ['align-self-center']
                    } %}
                    {% include "@marke/ui-core/components/button/button.njk" %}
                  </div>
                {% endset %}
                {% set context = {
                    body: cardBody,
                    header: cardHeader,
                    componentClasses: ['h-100']
                } %}
                {% include "@marke/ui-core/components/card/card.njk" %}
              {% endset %}
              {% set cards = (cards.push(renderedItem), cards) %}
            {% endfor %}
            {%- set context = {
              minSlidesPerView: 1,
              maxSlidesPerView: 4,
              total: (cards | length),
              items: cards
            } %}
            {% include "@marke/ui-core/components/carousel/carousel.njk" %}
          </div>
          <div class="col-12 text-center">
            {%- set context = {
                theme: 'primary',
                href: companies.btn.url,
                text: companies.btn.text
              } %}
              {% include "@marke/ui-core/components/button/button.njk" %}
          </div>
        </div>
      </div>
    </section>
    {% endif %}
    {% if unit.steps %}
    <section id="{{ layout }}-cta" class="bg-light">
      <div class="container py-4 py-lg-5">
        <div class="row gx-lg-5 gx-xl-6">
          <div class="col-12 col-lg-6">
            <h2>{{ unit.cta.title | e | safe }}</h2>
          </div>
          <div class="col-12 col-lg-6">
            <p>{{ unit.cta.description | e | safe }}</p>
            {%- set context = {
              theme: 'primary',
              href: unit.cta.btn.url,
              text: unit.cta.btn.text
            } %}
            {% include "@marke/ui-core/components/button/button.njk" %}
          </div>
        </div>
      </div>
    </section>
    {% endif %}
    {% include "./partials/tech-news.njk" %}
  </main>
{%- endblock %}
{{ content | safe }}